<h4><button *ngIf="!readOnly" (click)="edit()" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>Chart Module</h4>

<base-chart style="width:100%;" class="chart"
			[data]="lineChartData"
			[labels]="lineChartLabels"
			[options]="lineChartOptions"
			[series]="lineChartSeries"
			[colours]="lineChartColours"
			[chartType]="lineChartType"
			(chartHover)="chartHovered($event)"
			(chartClick)="chartClicked($event)" *ngIf="dataPrepared"></base-chart>
<modal #modal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">Configuration</h4>
	</modal-header>
	<modal-body>


        <select (change)="onSelectType($event.target.value)">
            <option *ngFor="#serie of types" [value]="serie.id">{{serie.name}}</option>
        </select>


        <select (change)="onSelect($event.target.value)">
            <option *ngFor="#serie of series" [value]="serie.id">{{serie.name}}</option>
        </select>

        <p>
			<label class="control-label">backgroundColor : </label>
			<input [(colorPicker)]="backgroundColor" [style.background]="backgroundColor" [value]="backgroundColor" (colorPickerChange)="backgroundColorChanged($event)"/>
		</p>

		<p>
			<label class="control-label">borderColor : </label>
			<input [(colorPicker)]="borderColor" [style.background]="borderColor" [value]="borderColor" (colorPickerChange)="borderColorChanged($event)"/>
		</p>

        <p>
            <label class="control-label">pointBackgroundColor : </label>
            <input [(colorPicker)]="pointBackgroundColor" [style.background]="pointBackgroundColor" [value]="pointBackgroundColor" (colorPickerChange)="pointBackgroundColorChanged($event)"/>
        </p>


	</modal-body>
	<modal-footer [show-default-buttons]="true"></modal-footer>
</modal>

