<h4>Health Module</h4>

<div class="row health-module default">
    <div class="col-md-12 description" *ngIf="topText" 
         [style.color]="topStyle.color" [style.font-size]="topStyle.fontSize" [style.font-weight]="topStyle.fontWeight">
        {{ topText }}
    </div>
    <div class="col-md-12">
        <i class="fa" [ngClass]="getModuleClass()"></i>
    </div>
    <div class="col-md-12 description" *ngIf="bottomText"
         [style.color]="bottomStyle.color" [style.font-size]="bottomStyle.fontSize" [style.font-weight]="bottomStyle.fontWeight">
        {{ bottomText }}
    </div>
</div>