<div class="container-fluid admin">
	<div class="row">
		<div class="col-md-12 card card-block">
			<h4>Welcome to Administration</h4>
		</div>
	</div>

	<div class="row card card-block availableModules">
		<div class="col-sm-2">
			<h4>Modules</h4>
			<ul *ngFor="let availableModule of availableModules">
				<li><i class="fa" [ngClass]="availableModule.getIcon()"></i> {{ availableModule.getName() }}</li>
			</ul>
		</div>

		<div class="col-md-10" [ngGrid]="{'max_cols': 12}">
            <div *ngFor="let item of items; let i = index" [ngGridItem]="{'sizex': 3, 'sizey':1, 'col': ((i%3)?1:4), 'row':((i/6)+1)}">
                    <chart-module style="display:inline-block;"
                                  [attr.id]="item.id"
                                  [attr.data-sizex]="item.chartPositionInformation.sizeX"
                                  [attr.data-sizey]="item.chartPositionInformation.sizeY"
                                  [attr.data-col]="item.chartPositionInformation.col"
                                  [attr.data-row]="item.chartPositionInformation.row"
                                  [readOnly]="item.readOnly"
                                  [lineChartData]="item.lineChartData"
                                  [lineChartLabels]="item.lineChartLabels"
                                  [lineChartOptions]="item.lineChartOptions"
                                  [lineChartSeries]="item.lineChartSeries"
                                  [lineChartColours]="item.lineChartColours"
                                  [lineChartType]="item.lineChartType"></chart-module>
            </div>
        </div>
	</div>
</div>