<div class="container-fluid admin">
	<div class="row">
		<div class="col-md-12 card card-block">
			<h4>Welcome to Administration</h4>
		</div>
	</div>

	<div class="row gridster card card-block availableModules">
		<div class="col-sm-2">
			<h4>Modules</h4>
			<ul *ngFor="let availableModule of availableModules">
				<li><i class="fa" [ngClass]="availableModule.getIcon()"></i>{{availableModule.getName()}}</li>
			</ul>
			<ul *ngFor="let item of items; let i = index">
				<li [attr.data-row]="item.row" [attr.data-col]="item.col" [attr.data-sizex]="item.sizeX" [attr.data-sizey]="item.sizeY" style="display:inline-block; border:solid 1px red"> item {{i}}</li>
			</ul>
		</div>

		<div class="col-md-5">
			<debug-module [readOnly]="false"></debug-module>
		</div>

		<div class="col-md-5">
			<chart-module [readOnly]="false"></chart-module>
		</div>
	</div>
</div>